<!DOCTYPE html>
<html>
<head>
  <title>Emma Spencer</title>
</head>
<body>
  <!-- navigation -->
  <nav class="navigation-wrapper">
    <h1 class='title'><a href="navigation-wrapper">Emma Spencer</a></h1>
    <div class="buttons-wrapper">
      <ul>
        <a href="about"><li>
          ABOUT
        </li></a>
        <a href="work"><li>
          WORK
        </li></a>
        <a class='direct-link' href="/Emma_Spencer_Resume.pdf" target='_blank'><li>
          RESUME
        </li></a>
        <a class='direct-link' href="http://github.com/enspencer" target='_blank'><li>
          GITHUB
        </li></a>
      </ul>
    </div>
  </nav>
  <div class='all_content'>

    <!-- hero image -->
    <!-- image source and design inspiration: https://github.com/sevenadrian/foxslide -->
    <div class='hero'>
    </div>

    <!-- about -->
    <section class='about'>
      <div class='about-content row'>
        <div class='small-12 medium-4 columns'>
          <h2>about me</h2>
          <p>Hi! I'm a web developer in the Boston area. I write mostly in Ruby and Javascript. </p>
        </div>
        <div class='small-12 medium-4 columns'>
          <h2>what I do</h2>
          <p>I like working with the full stack</p>
        </div>
        <div class='small-12 medium-4 columns'>
          <h2>find me on</h2>
          <ul class='social-media row'>
            <li><a href='http://www.linkedin.com/pub/emma-spencer/41/62a/28a'><%= image_tag 'linkedin-icon.png', size: '60x60', class: 'social-icon', alt: 'linkedin-icon' %></a></li>
            <li><a href='http://www.twitter.com/enspencer'><%= image_tag 'twitter-icon.png', size: '60x60', class: 'social-icon', alt: 'twitter-icon' %></a></li>
            <li><a href='http://www.github.com/enspencer'><%= image_tag 'github-icon.png', size: '60x60', class: 'social-icon', alt: 'github-icon' %></a></li>
          </ul>
          <div class='row'>
            <h2>contact at</h2>
            <p style='font-size:18px;text-align:center;margin-top:-10px;'>emma.n.spencer@gmail.com</p>
          </div>
        </div>
      </div>
    </section>

    <div class='section-spacer'></div>

    <section class='work'>
      <div class='row'><h1>Work</h1></div>
      <div class='work-content row'>

        <div class='small-6 columns project'>
          <a href='http://ladyparts.herokuapp.com'><h2>Ladyparts</h2></a>
          <span class='project-link'><h3>Ladyparts is a web app that explores films that depict multifaceted female characters using the Bechdel Test and the Rotten
          Tomatoes API and presents the dataset using interactive d3.js graphs. 
          <a href='http://ladyparts.herokuapp.com'>View the project.</a></h3></span>
          </div>

          <div class='small-6 columns project'>
            <a href='http://github.com/enspencer/nytimes-bestsellers'><h2>nytimes-bestsellers Ruby gem</h2></a>
            <span class='project-link'><h3>A gem for the NYTimes Best Sellers List API. <a href='http://github.com/enspencer/nytimes-bestsellers'>View it on Github.</a></h3></span>
          </div>
          <div class='section-spacer'></div>
          <div class='section-spacer'></div>

          <div class='small-6 columns project'>
            <a href='http://www.github.com/enspencer/nypl-collections'><h2>nypl-collections Ruby gem</h2></a>
            <span class='project-link'><h3>A gem for the New York Public Library Digital Collections API. 
              <a href='http://www.github.com/enspencer/nypl-collections'>View it on Github.</a></h3></span>
            </div>

            <div class='section-spacer'></div>
            <div class='section-spacer'></div>
          </div>

        </section>
        <div class='section-spacer'></div>

        <!-- Footer -->

        <footer class="row footer">
          <div class="large-12 columns"><hr>
            <div class="row">

              <div class="large-6 columns">
              </div>

              <div class="large-6 small-12 columns">
                <ul class="social-media row social">
                 <li><a href='http://www.linkedin.com/pub/emma-spencer/41/62a/28a'><%= image_tag 'linkedin-icon.png', size: '32x32', class: 'social-icon', alt: 'linkedin-icon' %></a></li>
                 <li><a href='http://www.twitter.com/enspencer'><%= image_tag 'twitter-icon.png', size: '32x32', class: 'social-icon', alt: 'twitter-icon' %></a></li>
                 <li><a href='http://www.github.com/enspencer'><%= image_tag 'github-icon.png', size: '32x32', class: 'social-icon', alt: 'github-icon' %></a></li>
                 <li><a href='http://www.instagram.com/enspencer'><%= image_tag 'instagram-icon.png', size: '32x32', class: 'social-icon', alt: 'instagram-icon' %></a></li>
                 <li><a href='mailto:emma.n.spencer@gmail.com'><%= image_tag 'mail-icon.png', size: '32x32', class: 'social-icon', alt: 'mail-icon' %></a></li>
               </ul>
             </div>

           </div>
         </div>
       </footer>

       <!-- End Footer -->
     </div>
   </body>
   </html>